<h2>Tasks</h2>

<% @tasks.each do |t| %>
  <h3><%= t.id %>. <%= t.name %></h3>
  <%= link_to "Show", task_path(t.id) %>
  <%= link_to "Edit", edit_task_path(t.id) %>
  <%= link_to "Delete", task_path(t), method: :delete %>
  <%end%>
